<% provide(:title, I18n.t("static_pages.home.title")) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
  </head>
  <body>
    <h1><%= t ".head" %></h1>
  </body>
</html>
