# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 73813d861d9aaf058f0a780a4e58d8abdfd873b2fbf18a62e6ddcb8bebf9fa5b673bcafd2dd4ed31a8cd02ffc50539bcecf3fa50fc38986fc9298edab4a715ef

test:
  secret_key_base: 9c5e88381fef90ea328a6227ebe75afb45f79f74e60007625d527115cef7af77cb8cbf16ef166752e2f6780576f894f2bf81193a9ca1bbda9302a29d00a82843

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
